<%- include('./partials/header') %>
<style>
  .custom-title {
  font-size: 8rem; /* Puedes aumentar aún más si deseas */
  font-weight: bold;
  margin-top: 2rem;
}

</style>
<section class="section">
  <div class="container">
    <!-- Texto aún más grande -->
    <h1 class="title custom-title has-text-primary has-text-centered">
      PARTE 2 - Solo Backend - Node & Express
      <span class="has-text-weight-normal">con</span> <i class="fab fa-node-js"></i> <!--<i class="fab fa-js-square">--></i>
    </h1>
  </div>
</section>

<%- include('./partials/footer') %>
